<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
</head>
<style>
    .login-btn {
        background-color: #2196F3;
        /* เปลี่ยนสีพื้นหลัง */
        color: #FF6699;
        /* เปลี่ยนสีของข้อความ */
        transition: background-color 0.3s ease;
        /* เพิ่มเอฟเฟกต์ transition เมื่อ hover */
    }

    .logout-btn {
        background-color: #2196F3;
        /* เปลี่ยนสีพื้นหลัง */
        color: #FF6699;
        /* เปลี่ยนสีของข้อความ */
        transition: background-color 0.3s ease;
        /* เพิ่มเอฟเฟกต์ transition เมื่อ hover */
    }

    .login-btn:hover {
        background-color: #FF6699;
        /* เปลี่ยนสีพื้นหลังเมื่อ hover */

    }
</style>


<body>
    <div id="app">
        <v-app>
            <v-container>
                <v-card>
                    <v-card-title class="bg-blue-grey" style="text-align: center;">{{ title }}</v-card-title>
                    <v-card-text class="pa-6">
                        <v-card-actions>

                            <v-btn @click="google_login()" v-if="!user" class="mx-auto login-btn">Login</v-btn>
                            <v-btn @click="google_logout()" v-if="user" class="mx-auto logout-btn">Logout</v-btn>
                        </v-card-actions>
                    </v-card-text>

                </v-card>



            </v-container>
        </v-app>
    </div>

    <script>


const firebaseConfig = {
  apiKey: "AIzaSyBCWCTW5rtOH8rH1AOg30Q6xMmC6W-hR7o",
  authDomain: "project-mobile-e57ae.firebaseapp.com",
  projectId: "project-mobile-e57ae",
  storageBucket: "project-mobile-e57ae.appspot.com",
  messagingSenderId: "786173651432",
  appId: "1:786173651432:web:598ae74fdd002541555c5d",
  measurementId: "G-VPZTL4B24Z"
};
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

        const vuetify = Vuetify.createVuetify();
        const app = Vue.createApp({
            data() {
                return {
                    title: " เช็คชื่อนักศึกษา และ ถาม/ตอบ ในห้องเรียน",
                    user: null
                };
            },
            methods: {
                google_login() {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    provider.addScope("profile");
                    provider.addScope("email");

                    firebase.auth().signInWithPopup(provider)
                        .then((result) => {
                            const user = result.user;

                            db.collection("teacher").where("email", "==", user.email).get()
                                .then((querySnapshot) => {
                                    if (!querySnapshot.empty) {
                                        window.location.href = 'teacher.html';
                                    }
                                    else {
                                        db.collection("student").where("email", "==", user.email).get()
                                            .then((querySnapshot) => {
                                                if (!querySnapshot.empty) {
                                                    window.location.href = 'student.html';
                                                } if (querySnapshot.empty) {
                                                    sessionStorage.setItem("newuser", user.email);
                                                    window.location.href = 'registernewUser.html';

                                                }
                                            })
                                    }
                                })
                        })
                },
                google_logout() {
                    if (confirm("คุณแน่ใจหรือไม่?")) {
                        firebase.auth().signOut();
                    }
                }
            },
            mounted() {
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        this.user = user.toJSON();
                    } else {
                        this.user = null;
                    }
                });
            }
        });

        app.use(vuetify).mount("#app");

    </script>
</body>

</html>