<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container>
                <v-card>
                    <v-card-title class="bg-grey text-center">{{ title }}</v-card-title>
                    <v-card-text class="pa-6">
                        <template v-if="user">
                            <div class="pa-2">
                                <v-avatar><img :src="user.photoURL" /></v-avatar>
                            </div>
                            <div class="pa-2">
                                {{ user.displayName }}<br />
                                {{ user.email }}
                                <v-btn @click="google_logout()">Logout</v-btn>
                            </div>

                            <v-form @submit.prevent="submitCheckinCode">

                                <v-row>
                                    <v-col cols="12" sm="6">
                                        <v-text-field v-model="checkinCode" label="รหัสเช็คชื่อ"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-text-field v-model="stdCode" label="รหัสนักศึกษา"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-text-field v-model="stdName" label="ชื่อ"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-text-field v-model="answer" label="คำตอบ"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-btn v-if="answer && checkinCode && stdCode && stdName"type="submit" color="#FF6699">เช็คชื่อ</v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>

                        </template>
                    </v-card-text>
                </v-card>

                <div class="pa-6 text-center">{{ footer }}</div>
            </v-container>
        </v-app>
    </div>

    <script>
        // const firebaseConfig = {
        //     apiKey: "AIzaSyCh3F01CbfZLd175H7CEyXMGfWpxiG_PP0",
        //     authDomain: "testingonlylmao-40518.firebaseapp.com",
        //     projectId: "testingonlylmao-40518",
        //     storageBucket: "testingonlylmao-40518.appspot.com",
        //     messagingSenderId: "807775846608",
        //     appId: "1:807775846608:web:c34acaf98c3f293fdcded5",
        //     measurementId: "G-HWPXTPE4VB"
        // };

        const firebaseConfig = {
  apiKey: "AIzaSyBCWCTW5rtOH8rH1AOg30Q6xMmC6W-hR7o",
  authDomain: "project-mobile-e57ae.firebaseapp.com",
  projectId: "project-mobile-e57ae",
  storageBucket: "project-mobile-e57ae.appspot.com",
  messagingSenderId: "786173651432",
  appId: "1:786173651432:web:598ae74fdd002541555c5d",
  measurementId: "G-VPZTL4B24Z"
};
        firebase.initializeApp(firebaseConfig);

        const db = firebase.firestore();
        const vuetify = Vuetify.createVuetify();
        const app = Vue.createApp({
            data() {
                return {
                    title: "Student",
                    user: null,
                    checkinCode: "",
                    question: "",
                    answer: "",
                    stdName:"",
                    stdCode:""
                };
            },
            methods: {
                google_logout() {
                    if (confirm("คุณต้องการออกจากระบบใช่หรือไม่")) {
                        firebase.auth().signOut().then(() => {
                            window.location.href = 'index.html';
                        }).catch((error) => {
                            console.log("เกิดข้อผิดพลาดในการออกจากระบบ:", error);
                        });
                    }
                },
                submitCheckinCode() {
                    const checkinCode = this.checkinCode.trim();

                    if (!checkinCode) {
                        alert("กรุณากรอกรหัสเช็คชื่อ");
                        return;
                    }

                    db.collection("checkin").doc(checkinCode).get()
                        .then((doc) => {
                            if (doc.exists) {
                                const checkinData = doc.data();
                                const checkinRecord = {
                                    id: checkinData.id,
                                    room: checkinData.room,
                                    subject: checkinData.subject,
                                    stdname: this.stdName,
                                    stdemail: this.user.email,
                                    status: "เช็คชื่อแล้ว",
                                    answer: this.answer,
                                    stdCode: this.stdCode
                                };

                                db.collection("stdcheckin").add(checkinRecord)
                                    .then(() => {
                                        db.collection("question").where("checkid", "==", checkinCode).get()
                                            .then((querySnapshot) => {
                                                if (!querySnapshot.empty) {
                                                    const questionDoc = querySnapshot.docs[0];
                                                    this.question = questionDoc.data().q;
                                                } else {
                                                    this.question = null;
                                                }
                                            })
                                            .catch((error) => {
                                                console.error("เกิดข้อผิดพลาดในการดึงคำถาม:", error);
                                            });
                                        alert("บันทึกข้อมูลเช็คชื่อสำเร็จ");
                                    })
                                    .catch((error) => {
                                        console.error("เกิดข้อผิดพลาดในการบันทึกข้อมูลเช็คชื่อ:", error);
                                    });
                            } else {
                                alert("ไม่พบรหัสเช็คชื่อที่กรอก");
                            }
                        })
                        .catch((error) => {
                            console.error("เกิดข้อผิดพลาดในการดึงข้อมูลเช็คชื่อ:", error);
                        });
                }
            },

            mounted() {
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        this.user = user.toJSON();
                    } else {
                        this.user = null;
                    }
                });
            }
        });

        app.use(vuetify).mount("#app");
    </script>
</body>

</html>